.top {
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto; 
  background-color: #73b6f0;
  color: #111111;
}

.name {
    background-color: #73b6f0;
    color: #111111;
    margin: 0;
    padding: 0.1rem;
}

.image img {
    margin-top: 1rem; 
    padding: 1rem;
    width: 10rem;
  }

.desktop {
  display: none;
}

.comment {
    font-weight: bold;
  }

@media screen and (min-width: 600px) {
  .top {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .name {
    background-color: #73b6f0;
    color: #111111;
    margin: 0;
    padding: 0.1rem;
  }

  .tablet-mobile {
    display: none;
  }

  .desktop {
    display: contents;
  }

  .image img {
    margin-top: 1rem; 
    padding: 1rem;
    width: 10rem;
  }

  .comment {
    position: relative;
    background: #fff;
    /* border: 2px solid #333; */
    border-radius: 10px;
    padding: 1rem;
    width: 20rem;
    color: #333;
    /* margin-top: 4rem; */
    margin-left: 1rem;
    font-weight: bold;
  }

  .comment::after {
    content: '';
    position: absolute;
    top: 0;
    left: -2rem;
    border-width: 2rem 2rem 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent; 
  }
}

@media screen and (min-width: 900px) {
  .top {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 200px;
  }

  .desktop {
    display: none;
  }

  .tablet-mobile {
    display: contents;
  }

  .name {
    margin-top: 5.5rem;
    margin-bottom: auto;
  }

  .image img {
    margin-top: 4rem;
    padding: 1rem;
    width: 10rem;
  }

  .comment {
    position: relative;
    background: #fff;
    /* border: 2px solid #333; */
    border-radius: 10px;
    padding: 1rem;
    width: 20rem;
    color: #333;
    margin-top: 4rem;
    margin-left: 1rem;
    font-weight: bold;
  }

  .comment::after {
    content: '';
    position: absolute;
    top: 0;
    left: -2rem;
    border-width: 2rem 2rem 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent; 
  }
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem;
  background-color: #a7a6a6;
  flex-wrap: wrap; 
}

.contacts > a { 
    flex: 1 1 200px; 
}


.sections {
  background-color: #a7a6a6;
  color: #111111;
}

.section-title {
  margin-top: 0;
  background-color: #f6f4f4;
  color: #111111;
}

.projects {
  margin: 1rem;
}

.projects img {
  width: 60%;
}

.project-title {
  text-decoration: underline;
}

.skills {
  margin: 1rem;
}

.sofware {
  margin: 1rem;
}

.experience {
  margin: 1rem;
}

.education {
  margin: 1rem;
}

.education {
  margin: 1rem;
}

.coursescertifications {
  margin: 1rem;
}